/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: calc(100vh - 3.75rem);
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/static/img/main-page.jpg);
  background-size: cover;
}

.title {
  color: white;
}

.subTitle {
  color: white;
  font-size: 1rem;
}

.logo {
  margin: 0 auto;
  width: 15vw;
}

@media screen and (max-width: 996px) {

  /* .heroBanner {
    padding: 2rem;
    height: fit-content;
  } */
  .logo {
    width: 50vw;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}